.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
}


.start {
    padding: 15px 30px;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    background-color: #27ae60; /* 緑色 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s ease-in-out;
}

.start:active {
    background-color: #1abc9c;
}